@page
@model Inlamning1ASP.NET.Pages.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Organisation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Organisation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.place)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.spots_available)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.spots_available)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Event.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
