@page "{id:int}"
@model Inlamning1ASP.NET.Pages.EfterJoiningModel

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.place)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.place)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.adress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.adress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.spots_available)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.spots_available)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./MyEvents" class="bg-dark text-light rounded shadow p-2 text-decoration-none">My Events</a>
    <a asp-page="./Events" class="bg-dark text-light rounded shadow p-2 text-decoration-none">Back to Events</a>
</div>