@page
@model Inlamning1ASP.NET.Pages.EventsModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].organisation_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].place)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].spots_available)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Event) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.organisation_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.spots_available)
            </td>
            <td>
               |
                <a asp-page="./JoinEvent" asp-route-id="@item.Id">Join Event</a> |
            </td>
        </tr>
}
    </tbody>
</table>
